[submodule "PlaygroundJava"]
	path = PlaygroundJava
	url = https://github.com/AlbertSnows/PlaygroundJava
[submodule "PlaygroundCpp"]
	path = PlaygroundCpp
	url = https://github.com/AlbertSnows/PlaygroundCpp
[submodule "PlaygroundCsharp"]
	path = PlaygroundCsharp
	url = https://github.com/AlbertSnows/PlaygroundCsharp
[submodule "PlaygroundClojure"]
	path = PlaygroundClojure
	url = https://github.com/AlbertSnows/PlaygroundClojure
[submodule "PlaygroundJS"]
	path = PlaygroundJS
	url = https://github.com/AlbertSnows/PlaygroundJS
